* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
    "header header"
    "header header"
    "books books"
    "books books"
    "books books"
    "books books"
    "footer footer"
    "footer footer"
}

header {
    grid-area: footer;
}

main {
    grid-area: books;
}

footer {
    grid-area: footer;
}