* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100dvh;
}




body {
    background-color: darkkhaki;
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
    "header header"
    "books books"
    "books books"
    "books books"
    "books books"
    "books books"
    "books books"
    "footer footer"
}

button {
        
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;


}

// adding pure css toggle switch to try // 
input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 200px;
    height: 100px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  
  label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  
  input:checked + label {
    background: #bada55;
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 130px;
  }
  

.deleteBtn {

    grid-column: 3;
    justify-self: center;
    align-self: center;

    background-color: red;
}

header {
    grid-area: header;
    background-color: darkslategray;
    border-bottom: 2px solid darkolivegreen;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    justify-items: center;

    #titleheader {
        font-size: 32px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;

        grid-column: 2/3;
    }


    #addbook {
        grid-column: 1;
        grid-row: 2;

        background-color:#AFE1AF;

    }

    #addbook:hover{
        background: rgb(30, 185, 38);
    }

    #addbook:active {
        box-shadow: 0 0 2px darkslategray;
        transform: translateY(2px);

    }

}

main {
    grid-area: books;
    background: darkkhaki;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
    justify-items: center;
    align-items: center;

    .card {
        width: 75%;
        height: 90%;
        border: 1px solid whitesmoke;
        background-color: darkslategray;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(5, 1fr);

        .data {
            color: whitesmoke;
            grid-column: 2;
            align-self: flex-start;
            justify-self: center;
        }

        #bookTitle {
            grid-row: 2;
        }

        #bookAuthor {
            grid-row: 3;
        }
        #bookPages {
            grid-row: 4;
        }

        #bookRead {
            grid-row: 5;
        }
    }
}

#buttonszone {
    display: flex;
    gap: 16px;
}

footer {
    grid-area: footer;
    background-color: darkslategray;
    border-top: 2px solid darkolivegreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    
    height: 150%;
    width: 20%;
    z-index: 1;
    justify-self: center;
    align-self: center;
    grid-column: 1/3;
    grid-row: 3/6;
    background-color: white;
    border-radius: 75px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    display: none;
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
    align-items: center;
    justify-items: center;

    p {
        display: block;
        font-size: 32px;
    }


}

#menu.grid {
    display: grid;
}