* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "RatherlafiaForghive";
  src: url(RatherlafiaForghive-BWDZl.woff) format(woff);
}
html {
  height: 100dvh;
  --color-title: #87CFFF;
  --color-border: #00406c;
}

body {
  background-color: darkkhaki;
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas: "header header" "books books" "books books" "books books" "books books" "books books" "books books" "footer footer";
}

.generalBtns, .deleteBtn {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
  transition: all 0.5s ease 0s;
}
.generalBtns.generalBtns:hover, .deleteBtn.generalBtns:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0px 1px 40px;
  transition: all 0.1s ease 0s;
}

#cardzone [id^=deleteBtn] {
  grid-column: 3;
  justify-self: center;
  align-self: center;
}
#cardzone [id^=deleteBtn]:hover {
  background: red !important;
}

.toggle {
  --width: 80px;
  --height: calc(var(--width) / 3);
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  background-color: white;
  cursor: pointer;
}
.toggle input {
  display: none;
}
.toggle input:checked + .slider {
  background-color: #2196F3;
}
.toggle input:checked + .slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}
.toggle input:checked ~ .labels::after {
  opacity: 0;
}
.toggle input:checked ~ .labels::before {
  opacity: 1;
}
.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: #ccc;
  transition: all 0.4s ease-in-out;
}
.toggle .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}
.toggle .labels {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
}
.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 5px;
  color: #4d4d4d;
  opacity: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}
.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 5px;
  opacity: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

header {
  grid-area: header;
  background-color: #001a2c;
  border-bottom: 2px solid var(--color-border);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
}
header #titleheader {
  font-size: 2.7rem;
  font-weight: 400;
  font-family: "RatherlafiaForghive", sans-serif;
  color: var(--color-title);
  grid-column: 2/3;
  grid-row: 2;
  align-self: baseline;
}
header #titleheader:hover {
  text-shadow: rgba(255, 255, 255, 0.877) 0px 1px 40px;
  transition: all 0.1s ease 0s;
}
header #addbook {
  grid-column: 1;
  grid-row: 2;
  background-color: #074500;
}
header #addbook:hover {
  background: #0d8000;
}
header #addbook:active {
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}

main {
  grid-area: books;
  background: #002945;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  justify-items: center;
  align-items: center;
}
main p {
  font-family: "Freshener";
  font-size: 1rem;
}
main .card {
  width: 75%;
  height: 90%;
  border: 1px solid var(--color-border);
  background-color: #3A5160;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(5, 1fr);
}
main .card .data {
  color: whitesmoke;
  grid-column: 2;
  align-self: flex-start;
  justify-self: center;
}
main .card .bookTitle {
  grid-row: 2;
}
main .card .bookAuthor {
  grid-row: 3;
}
main .card .bookPages {
  grid-row: 4;
}
main .card .bookRead {
  grid-row: 5;
  grid-column: 2;
}

#buttonszone {
  display: flex;
  gap: 16px;
  grid-row: 6;
}

footer {
  grid-area: footer;
  background-color: #001a2c;
  border-top: 2px solid #00406c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-title);
}

#menu {
  height: 150%;
  width: 20%;
  z-index: 1;
  justify-self: center;
  align-self: center;
  grid-column: 1/3;
  grid-row: 3/6;
  background-color: #5D6870;
  border-radius: 75px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: none;
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
}
#menu p {
  display: block;
  font-size: 1.75rem;
  color: whitesmoke;
}
#menu .form_label {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-left: 5rem;
  margin-top: -4.2rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
  color: whitesmoke;
}
#menu .form_input {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  width: 60%;
  display: block;
  border: none;
  position: relative;
}
#menu .form_input:focus {
  outline: none;
  border: 2px solid var(--color-border);
}
#menu .form_input::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: red;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: bottom right;
}
#menu .form_input:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#menu .form_input:-moz-placeholder-shown + .form_label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(2rem);
}
#menu .form_input:placeholder-shown + .form_label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(2rem);
}
#menu #titlediv {
  grid-row: 2;
}
#menu #authordiv {
  grid-row: 3;
}
#menu #pagesdiv {
  grid-row: 4;
}
#menu #readdiv {
  grid-row: 5;
}

#menu.grid {
  display: grid;
}/*# sourceMappingURL=style.css.map */